.genre-selection-radio-wrapper {
  display: flex;
  justify-content: center;
}

.genre-selection-labels {
  font-family: $main-font;
  font-size: 2.5rem;
  font-weight: 800;
}

.inputs-wrapper {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input {
  cursor: pointer;
}