.spin-me-button-wrapper {
  display: flex;
  justify-content: center;
}

.spin-me-button {
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  font-family: $main-font;
  font-size: 2rem;
  height: 200px;
  margin-top: 3%;
  padding: 10px 40px;
  width: 200px;
  &:focus {
    outline: 2px solid #5F6E8E;
  }
}