//FONTS
$title-font: 'Audiowide', cursive;
$main-font: 'Economica', sans-serif;
$accent-font: 'Cute Font', cursive;

//COLORS
$main-pink: #9A385E;
$hover-box-shadow: #D65E74;
$dark-hover-box-shadow: #374468;