@import url('https://fonts.googleapis.com/css?family=Audiowide|Economica');
@import 'variables';
@import './components/App/App';
@import './components/Selections/Selections';
@import './components/Loader/Loader';

body {
  background-image: url('./assets/max-bender-510413-unsplash.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
